<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Djatest</title>
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
	</head>

	<body>
        <header>
            <div class="navbar">
                <div class="navbar-title">
                    <h1><a href="{% url 'home' %}">Djatest</a></h1>
                </div>
                
                <div class="navbar-links">
                    <ul>
                        <li><a href="">Add post</a></li>
                        <li><a href="">New post</a></li>
                        <li><a href="">Create post</a></li>
                    </ul>
                </div>

                <div class="navbar-auth">
                    <ul>
                        <li><a href="{% url 'login' %}">Sign in</a></li>
                        <li><a href="">Sign up</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="content">
    		{% block content %}
    		{% endblock content %}
            <hr />
            <footer>
                <p>Ivanov Ihor SE-214</p>
            </footer>
        </div>

	</body>
</html>