.navbar {
	background-color: orange;
	position: fixed;
	top: 0;
	left: 0;
	height: 42px;
	width: 100%;
}

.navbar a, .navbar a:visited {
	color: white;
	text-decoration: none;
}

.navbar a:hover {
	color: blue;
}

.navbar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.navbar li {
	float: left;
	margin-right: 4px;
}

.navbar-title {	
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 100px;
	float: left;
}

.navbar-title a, .navbar-title a:visited {	
	font-size: 20pt;
	font-weight: bold;
}

.navbar-links {
	float: left;
	margin-top: 10px;
}

.navbar-links a, .navbar-links a:visited {
	font-size: 14pt;
}

.navbar-auth {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.navbar-auth a, .navbar-auth a:visited {
	font-size: 14pt;
}

.content {	
	padding-top: 50px;
	margin-left: 40px;
}