<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Djtest</title>
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery-3.1.1.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}
	</head>

	<body>
        <header>
            <div class="navbar">
                <div class="navbar-title">
                    <a href="{% url 'home' %}">Djtest</a>
                </div>
                
                <div class="navbar-links">
                    <ul>
                        <!-- <li><a href="">Recent added</a></li> -->
                    </ul>
                </div>

                <div class="navbar-auth">
                    <ul>
                        {% if user.is_authenticated %}
                            <li><a href="">{{ user.username }}</a></li>
                            <li><a href="{% url 'sign_out' %}">signout</a></li>
                        {% else %}
                            <li><a href="{% url 'sign_up' %}">Sign up</a></li>
                            <li><a href="{% url 'sign_in' %}">Sign in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>

        <div class="content">
    		{% block content %}
    		{% endblock content %}
            <hr />
            <footer>
                <p>Ivanov Ihor SE-214</p>
            </footer>
        </div>

	</body>
</html>