{%extends 'base.html' %}

{% load static %}

{% block content %}

	<h1>{{ test.name }}</h1>

	<div id="progress"></div>
	<div id="question_text"></div>

	<form action="result/" method="POST">{% csrf_token %}
		<div id="choices">
			{% for q in questions %}
			<p>{{ q.text }}</p>
				{% for c in q.choices %}
				<input type="radio" name="{{ q.id }}" value="{{ c.id }}">{{ c.text }}<br>
				{% endfor %}
			</p>
			{% endfor %}
		</div>
		<button type="submit">Submit</button>
	</form>
	<button id="ans-btn">Answer</button>

	<div id="error" style="color: red"></div>
{% endblock content %}
