{%extends 'base.html' %}

{% load static %}

{% block scripts %}
	<script src="{% static 'js/test_page.js' %}"></script>
{% endblock scripts %}

{% block content %}
	<h1>{{ test.name }}</h1>
	<form id="questions-form" action="{% url 'test_result' pk=test.pk %}" method="POST">{% csrf_token %}
		{% for question in test.question_set.all %}
			<div class="question">
				<p>{{ question.text }}</p>
				{% for choice in question.choice_set.all %}
					<input type="radio" name="{{ question.pk }}" value="{{ choice.pk }}">{{ choice.text }}<br>
				{% endfor %}
			</div>
		{% endfor%}
		<button type="submit">Submit</button>
	</form>
{% endblock content %}
